@import 'vars/Vars';
@import 'components/Main';
@import 'components/BorderEnd';
@import 'components/MainSection';
@import 'components/Nav';
@import 'components/Projects';
@import 'components/Carousel';
@import 'components/BtnMist.scss';
@import 'components/TokenSection';
@import 'components/AdvantagesSection';
@import 'components/WeDoSection';
@import 'components/FaqSection';
@import 'components/Footer';
@import 'components/OurPartners';


