body{
    background-color: black !important;
    font-family: 'Inter', sans-serif;
}

.bg-mist{
    background-color:
    #00181e;
}

.mx-project{

    margin-left: 131px;
    margin-right: 131px;
}

