.mist-projects {
  background-color: $mist-bg;
  height: 400px;
  .title-section{

     border-bottom: 2px solid #10d59f;
     
     
     padding-top: 5rem ;

     .h2{
      font-size: 48px;
      font-family: 'Inter', sans-serif;
     }
  }

     .title-project{

        font-family: 'Inter', sans-serif;
        font-size: 30px;
     }

     .text-project{
        font-family: 'Inter', sans-serif;
        font-size: 26px;
       
        
     }

     .left-icon-mist{
          left: 0;
          top: -100px;
          opacity: .1;
     }
}
