.mist-carousel.projects{
   background-color:$mist-bg;
}
.mist-carousel.upcoming{
   background-color:$mist-bg-alt;
}


.mist-carousel {


  background-color: $mist-bg;
  height: 900px;
  .title-section{

     border-bottom: 2px solid #10d59f;
     
     
     padding-top: 5rem ;

     .h2{
      font-size: 48px;
      font-family: 'Inter', sans-serif;
     }
  }

     .title-carousel{

        font-family: 'Inter', sans-serif;
        font-size: 30px;
     }

     .text-carousel{
        font-family: 'Inter', sans-serif;
        font-size: 26px;
       
        
     }

     .left-icon-mist{
          left: 0;
          top: -70px;
          opacity: .1;
     }

   .middle-icon-mist-small-r{
          
      right: 0;
      bottom:-2px ;
      opacity: .1;
   }

     .left-icon-mist-down{
      left: 0;
      bottom: 80px;
      opacity: .1;
 }
 
 
}
