.we-do-section{

     height: 246px;
     background-color: $mist-bg-alt;
     padding-bottom: 4rem;

     p{
         font-family: 'Inter',sans-serif;
         font-size: 48px;
         
         color:white;
     }

    
}