.advantages-section {
  background-color: $mist-bg;

  height: 950px;

  .as-text {
    height: 370px;

    h2 {
      font-family: "Inter", sans-serif;
      color: $mist-white;
      font-size: 30px;
    }

    p {
      font-family: "Inter", sans-serif;
      color: $mist-white;
      font-size: 26px;
    }
  }

  .middle-icon-mist-small-l {
    left: 0;
    top: 25%;
    opacity: 0.1;
  }

  .card-box {
    width: 320px;
    height: 380px;
    background: linear-gradient(
      to bottom,
      rgb(6, 209, 245) 60%,
      rgb(30, 255, 9)
    );
    padding-bottom: 3rem;
    .card-box-body {
      width: 99%;
      height: 99%;
      background-color: $mist-bg;
      top: 2px;
      position: absolute;

      .icon-container {
        width: 126px;
        height: 125px;
        background-color: $mist-white;
        left: calc(50% - 63px);
        top: -62.5px;

        img {
          width: 77px;
          height: 72px;
        }
      }

      .card-box-text {
      }

      .card-box-text h3 {
        font-family: "Inter", sans-serif;
        color: $mist-white;
        font-size: 27px;
        text-shadow: 0px 0px 20px;
        margin-top: 5rem;
      }

      .card-box-text p {
        width: 313px;
        font-family: "Inter", sans-serif;
        color: $mist-white;
        font-size: 21px;
        text-shadow: 0px 0px 20px;
        margin-top: 1rem;
      }
    }
  }

  @media (min-width: 1024px) {
    .card-box {
      width: 340px;
      height: 406px;
      margin-right: 4px;
    }
  }
}
