.mist-container {
  height: 738px;
  background-color: #000000;

  .mist-background {
    background-image: url("../assets/img/sparkle-universe.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 50px;

    .coin-board {
      width: 966px;
      height: 74px;

      left: calc(50% - 483px);
      top: -32px;

      ul {
        padding: 10px 18px 10px 35px;
      }

      span {
        font-size: 13px;
      }

      li {
        list-style: none;
      }

      .desc-price {
        font-size: $desc-price-text;
        font-family: "Roboto", sans-serif;
        color: #62d2a2;
      }

      .price-coin {
        color: #00181e;
        font-family: "Inter", sans-serif;
        font-size: $coin-text;
        font-weight: 900;
      }
      .btn-cool {
        background-color: $cool-green;
        width: 155px;
        height: 38px;
        margin: 8px 0 8px 119px;
      }
    }

    .main-text {
      margin-top: 500px;

      .mist-title {
        font-family: "Inter", sans-serif;
        font-weight: 900;
        font-size: 40px;
      }

      .mist-slogan {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 26px;
      }
    }
  }
}
