.mist-nav {
 
  background-color: transparent;
  height: 170px;
  width: 100%;
.center-links{

   margin-top: 4rem;
}
  .lang li{

    width: 72px;
    border-radius: 5px;
  }

 .lang li:hover{

   background-color: white;
   cursor: pointer;
   
 }

  
}
